[build]
  base = "projects"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/sw.js"
  Cache-Control = "no-cache"

[[headers]]
  for = "/manifest.json"
  Content-Type = "application/manifest+json"
